<div class="container">
    <!-- <p>department-detail works!</p> -->
    <h4>You selected the department with ID: {{departmentId}}</h4>

    <div class="btn-container">
        <button (click)="showOverview()">Overview</button>
        <button (click)="showContact()">Contact</button>
    </div>

    <router-outlet></router-outlet>

    <div class="btn-container">
        <button (click)="goPrevious()">Previous</button>
        <button (click)="goNext()">Next</button>
    </div>

    <div>
        <button (click)="goToDepartments()" class="backBtn">Back</button>
    </div>
</div>