.btn-container {
    display: flex;
    margin: 10px 0;
}

button {
    border: none;
    background-color: cornsilk;
    color: indianred;
    padding: 10px 20px;
    border-radius: 2px;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        color: cornsilk;
        background-color: indianred;
    }
    &:first-child {
        margin-right: 10px;
    }
    &:focus {
        outline: none;
    }
}